.FormContainer{
   position: relative;
   
        .formContent{
            top:1rem;
            bottom: 1rem;
            right: 1rem;
            left: 1rem;
        }

        .submitBtn{
            display: grid;
            justify-content: center;
            align-items: center;
            padding: 0.5rem;
            
            button{
                background-color: #777;
                padding: 1rem;
                font-size: larger;
            }

        }

        .inputContainer{
            display: grid;
            align-items: center;

            margin-top: 2rem;

            .LoadImageBtn{
                display:block;
                width:120px;
                height:30px;
            }

            img{
                max-width: 10rem;
            }

            label{
                font-size: larger;
                padding: 0.5rem 0rem;
            }

            input{
                background: #ddd;
                padding: 5px 1rem;
                outline-width: 0;
                font-size: large;
                width: 80%;
                border-bottom: 1px solid #777;
                height: 1.5rem;
                transition: 300ms;
            }
        
            input:focus{
                background: #ddd;
                height: 1.7rem;
            }
    
            p{
                color:red;
                font-weight: 700;      
            }
    
        }

    }